#include <windows.h>
1 VERSIONINFO
 FILEVERSION 2,1,0,0
 PRODUCTVERSION 2,1,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "CompanyName", "Tuan-Space"
   VALUE "FileDescription", "CuteMaple Native Memory Cleaner"
   VALUE "FileVersion", "2.1.0.0"
   VALUE "InternalName", "CuteMaple-Cleaner"
   VALUE "OriginalFilename", "CuteMaple-Cleaner.exe"
   VALUE "ProductName", "CuteMaple"
   VALUE "ProductVersion", "2.1.0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0409, 1200
 END
END
